body,
div {
  user-select: none;
}

.content {
  padding: 0 80px 40px 80px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

@media screen and (max-width: 627px) {
  .content {
    padding: 0 0 20px 0;
  }
}
